# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import gkey

gmaps.configure(api_key=gkey)
figure_layout = {'width': '400px',
                'height': '400px',
                'border': '1px solid black',
                'padding': '1px'}

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_weather_path = "../output_data/cities.csv"

# Read the cities data:

cities_weather_df = pd.read_csv(cities_weather_path)

cities_weather_df

,City,City ID,Country,Latitute,Longitute,Date,Cloudiness,Humidity,Temp at Date,Max Temp to Date,Wind Speed
0,Nikolskoye,546105,RU,59.70,30.79,1603053693,90,86,36.46,37.40,6.71
1,Sinnamary,3380290,GF,5.38,-52.95,1603053693,57,74,82.87,82.87,9.64
2,Puerto Ayora,3652764,EC,-0.74,-90.35,1603053693,20,65,74.66,80.60,23.04
3,Severo-Kuril'sk,2121385,RU,50.68,156.12,1603053693,6,84,46.22,46.22,13.33
4,Miramar,4164601,US,25.99,-80.23,1603053632,20,62,84.83,87.80,16.11
...,...,...,...,...,...,...,...,...,...,...,...
541,Lata,2738381,PT,40.16,-8.33,1603053835,79,55,59.00,59.00,5.61
542,Donetsk,709717,UA,48.00,37.80,1603053851,97,53,55.45,55.45,6.53
543,Bereda,3105522,ES,43.27,-7.54,1603053851,86,99,55.24,57.99,1.92
544,Malanje,2239862,AO,-9.54,16.34,1603053851,45,86,68.29,68.29,3.62
545,Uauá,3385883,BR,-9.84,-39.48,1603053851,37,31,86.74,86.74,13.87

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store 'Latitude' and 'Longitude' into  locations 

locations = cities_weather_df[["Latitute", "Longitute"]].astype(float)

# Convert Humidity to float and store

humidity_cities = cities_weather_df["Humidity"].astype(float)

# Create a Humidity Heatmap layer

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity_cities, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# Create Humility symbol layer
humidity_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=[f"Humidity: {humidity}" for humidity in humidity_cities]
)


fig = gmaps.figure()
fig.add_layer(humidity_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
narrowed_city_df = cities_weather_df.loc[(cities_weather_df["Max Temp to Date"] > 70) 
                                         & (cities_weather_df["Max Temp to Date"] < 80) 
                                         & (cities_weather_df["Cloudiness"] == 0)
                                         & (cities_weather_df["Wind Speed"] < 10),:]

narrowed_city_df = narrowed_city_df.dropna(how='any')

narrowed_city_df.reset_index(inplace=True)

del narrowed_city_df['index']

narrowed_city_df

len(narrowed_city_df)

narrowed_city_df

,City,City ID,Country,Latitute,Longitute,Date,Cloudiness,Humidity,Temp at Date,Max Temp to Date,Wind Speed
0,Tura,1254046,IN,25.52,90.22,1603053725,0,90,72.64,72.64,1.63
1,Bandarbeyla,64814,SO,9.49,50.81,1603053738,0,81,79.05,79.05,3.91
2,Malakwal,1171376,PK,32.55,73.21,1603053749,0,29,70.81,70.81,2.17
3,Kutum,371745,SD,14.20,24.67,1603053752,0,18,77.58,77.58,8.37
4,Chui,3443061,UY,-33.70,-53.46,1603053758,0,70,72.48,72.48,7.63
5,Illapel,3887344,CL,-31.63,-71.17,1603053765,0,29,72.72,72.72,7.23
6,Santa Vitória do Palmar,3449747,BR,-33.52,-53.37,1603053775,0,68,72.27,72.27,7.16
7,Sakakah,102527,SA,29.97,40.21,1603053779,0,14,75.20,75.20,5.82
8,Salalah,286621,OM,17.02,54.09,1603053781,0,34,78.80,78.80,4.70
9,Santa Maria,3450083,BR,-29.68,-53.81,1603053810,0,56,78.64,78.64,4.68
10,Chiungutwa,878455,TZ,-10.88,38.98,1603053814,0,73,71.98,71.98,3.02
11,Grand Gaube,934479,MU,-20.01,57.66,1603053822,0,74,72.00,72.00,3.00
12,Abu Kamal,174448,SY,34.45,40.92,1603053842,0,26,72.21,72.21,8.66

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = []

# Create a set of lat and lon combinations

for index, row in narrowed_city_df.iterrows():
    
    lat = row["Latitute"]
    lon = row["Longitute"]

    # set up a parameters dictionary
    target_coordinates = f"{lat},{lon}"
    target_radius = 5000
    target_type = "hotel"
    
    params = {
        "location": target_coordinates,
        "radius": target_radius,
        "type": target_type,
        "key": gkey
        }

    # base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    hotel_data = response.json()

    #print(json.dumps(hotel_data, indent=4, sort_keys=True))
    
    try:
        hotel_df.append(hotel_data['results'][0]['name'])
    
    except:
        hotel_df.append("") 

narrowed_city_df["First Hotel Name"] = hotel_df

narrowed_city_df = narrowed_city_df.dropna()

narrowed_city_df

,City,City ID,Country,Latitute,Longitute,Date,Cloudiness,Humidity,Temp at Date,Max Temp to Date,Wind Speed,First Hotel Name
0,Tura,1254046,IN,25.52,90.22,1603053725,0,90,72.64,72.64,1.63,Tura
1,Bandarbeyla,64814,SO,9.49,50.81,1603053738,0,81,79.05,79.05,3.91,Bandarbeyla
2,Malakwal,1171376,PK,32.55,73.21,1603053749,0,29,70.81,70.81,2.17,Malakwāl
3,Kutum,371745,SD,14.20,24.67,1603053752,0,18,77.58,77.58,8.37,Kutum
4,Chui,3443061,UY,-33.70,-53.46,1603053758,0,70,72.48,72.48,7.63,Chuy
5,Illapel,3887344,CL,-31.63,-71.17,1603053765,0,29,72.72,72.72,7.23,Illapel
6,Santa Vitória do Palmar,3449747,BR,-33.52,-53.37,1603053775,0,68,72.27,72.27,7.16,Santa Vitoria do Palmar
7,Sakakah,102527,SA,29.97,40.21,1603053779,0,14,75.20,75.20,5.82,Sakaka
8,Salalah,286621,OM,17.02,54.09,1603053781,0,34,78.80,78.80,4.70,Salalah
9,Santa Maria,3450083,BR,-29.68,-53.81,1603053810,0,56,78.64,78.64,4.68,Santa Maria
10,Chiungutwa,878455,TZ,-10.88,38.98,1603053814,0,73,71.98,71.98,3.02,Chiungutwa
11,Grand Gaube,934479,MU,-20.01,57.66,1603053822,0,74,72.00,72.00,3.00,Goodlands
12,Abu Kamal,174448,SY,34.45,40.92,1603053842,0,26,72.21,72.21,8.66,Al Bukamal

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{First Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = narrowed_city_df[["Latitute", "Longitute"]]

In [9]:
# Display figure

markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(markers)

fig

Figure(layout=FigureLayout(height='420px'))